.main-container{
    margin-top: 30px;

}


.box-on-main-page{
    width: 200px;
    height: 235px;
    background-color: rgba(254, 242, 243, 0.59);
   display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    color: brown;
}

.button-in-box{
    width: 200px;
    height: 30px;
    background-color: rgba(254, 88, 71, 0.77);
    font-family: "Calibri", "Arial", sans-serif;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2px;
    line-height: 30px;
    color: cornsilk;
}

.introWord{
    /*text-align: center;*/
    background-color: antiquewhite;
    border-radius: 5px;
    width: 840px;
    font-family: "Calibri", "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(175, 19, 22, 0.88);
    alignment: right;
}

figure{
    width: 200px;
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 0; /* Отступ слева */
    background: #f0d3cd; /* Цвет фона */
    border-radius: 2px; /* Радиус скругления */

}
figure:first-child {
    margin-left: 0; /* Убираем отступ для первого элемента */
}

