.main-container{
    margin-top: 30px;
}


.box-on-main-page{
    width: 200px;
    height: 235px;
    /*background-color: rgba(254, 24, 21, 0.59);*/
    display: inline-block;
    /*border-radius: 5px;*/
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    color: #23a50c;
}

.button-in-box{
    width: 200px;
    height: 30px;
    background-color: rgba(254, 88, 71, 0.77);
    font-family: "Calibri", "Arial", sans-serif;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2px;
    line-height: 30px;
    color: cornsilk;
}

.introWord{
    /*text-align: center;*/
    background-color: antiquewhite;
    border-radius: 5px;
    width: 840px;
    //font-family: "Calibri", "Arial", serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(175, 19, 22, 0.88);
    alignment: right;
    font-family: 'Andika', sans-serif;
}

figure{
    width: 200px;
    height: 200px;
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 0; /* Отступ слева */
    /*background: #23a50c; !* Цвет фона *!*/
    /*border-radius: 0px; !* Радиус скругления *!*/
    overflow: hidden;
}

figure img{
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
    }
figure:first-child {
    margin-left: 0; /* Убираем отступ для первого элемента */
}

.header-panel{

    margin-top: 20px;
}

.button-header-home{
    width: 100px;
    height: 30px;
    background-color: rgba(254, 88, 71, 0.77);
    font-family: "Calibri", "Arial", sans-serif;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2px;
    line-height: 30px;
    color: cornsilk;
    display: inline-block;
}
.button-header{
    width: 60px;
    height: 30px;
    background-color: rgba(254, 147, 132, 0.77);
    font-family: "Calibri", "Arial", sans-serif;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 2px;
    line-height: 30px;
    color: cornsilk;
    display: inline-block;
}

.info-panel{
    width: 868px;
    height: 300px;
    background-color: darkgrey;
}

.box-for-pictures{
    width: 280px;
    height: 280px;
    background-color: rgba(168, 154, 98, 0.59);
    display: inline-block;
    /*border-radius: 5px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
    overflow: hidden;
 }

div img{
    width: 100%; /* Ширина изображений */
    height: 100%; /* Высота изображении */
    object-fit: cover; /* Вписываем фотографию в область */
}


